@model IEnumerable<Semester2PersoonlijkProjectStreamLabs.Models.VideoViewModel>

@{
    ViewData["Title"] = "ViewerVideoList";
}

<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">

        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                    <form asp-action="CommentOnVideo">
                        <div class="modal-title" style="width:100px;">@item.Name</div>
                        <hr />
                        <div class="video-testimonial-block">
                            <video style="width:1024px; height:768px;" controls>
                                <source src="@Url.Content(item.ContentUrl)" type="video/mp4" />
                            </video>
                        </div>
                        <div>

                        </div>
                        @if (User.Identity.IsAuthenticated)
                        {
                        <div class="col-md-12">
                            <div class="control-group">
                                <label class="control-label" for="button1id"></label>
                                <div class="form-group">
                                    @Html.ActionLink("Comment", "CommentOnVideo", item)
                                </div>
                                <div class="form-group">
                                    @Html.ActionLink("Report video", "ReportVideo", item)
                                </div>
                            </div>
                        </div>
                        }
                    </form>
                </div>
            </div>
        }
    </div>
</body>
</html>