@model Semester2PersoonlijkProjectStreamLabs.Models.UserViewModel

@{
    ViewData["Title"] = "CreateAccount";
}

<h2>Account Aanmaken</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form style="width: 465px" asp-action="CreateAccount" asp-controller="User">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserGender" class="control-label">Geslacht</label>
                <select asp-for="UserGender" class="form-control">
                    <option value="">--Kies een geslacht--</option>
                    <option value="Male">Man</option>
                    <option value="Female">Vrouw</option>
                    <option value="Other">Anders</option>
                </select>
                <span asp-validation-for="UserGender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserAccountType" class="control-label">Type account</label>
                <select asp-for="UserAccountType" class="form-control">
                    <option value="Viewer">Kijker</option>
                </select>
                <span asp-validation-for="UserAccountType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Wachtwoord</label>
                <input name="password" type="password" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Bevestig wachtwoord</label>
                <input name="passwordValidation" type="password" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Maak account" />
            </div>
        </form>
    </div>
</div>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        };
    </script>
}

